# Virtual environment and git repository files
.venv/
.git
.vimspector.json
.coverage
htmlcov/

# Python cache files
__pycache__/
.pytest_cache/
.ruff_cache/

# .env files
*.env

# Database files
*.db
