<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Анонимный сайт</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/css/colors.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/index_style.css') }}">
  <script src="{{ url_for('static', path='/js/index_script.js') }}"></script>
</head>
<body>
  <header>
    <div class="top-bar">
      <h1>Анонимный сайт</h1>
    </div>
  </header>

  <main>
    <div class="profile-container">
      <div class="profile-avatar">
          <img id="profile-avatar" src="{{ url_for('static', path='/avatars/default.jpeg') }}" alt="profile-avatar">
      </div>
      <div class="profile-info">
        <h2 id="username">Аноним</h2>
        <p id="user-uid">####</p>
        <p id="email">anonim@anonim.com</p>

        <<button class="logout-button"></button>
      </div>
    </div>

    <div class="message-navigation">
      <button data-tab="accepted" class="tab-button">Принятые</button>
      <button data-tab="reply" class="tab-button">Ответы</button>
      <button data-tab="sended" class="tab-button">Отправленные</button>
    </div>

    <div id="message-container" class="message-list">
    </div>
  </main>

  <footer>
    <div class="bottom-bar">
      <p>&copy; 2023 Мой анонимный сайт. Все права защищены.</p>
      <p>Контакты: example@example.com</p>
    </div>
  </footer>
</body>
</html>
